body {
    background-color: lightgray;
}

p {
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: #0f4069;
    color: whitesmoke;
    border: 2px solid #e6eaef;
    
    /*  top-left-and-bottom-right | top-right-and-bottom-left */
    border-radius: 15px 50px;
}