* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Helvetica, sans-serif;
}

a {
    text-decoration: none;
    padding: 7px 10px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.site {
    max-width: 830px;
    padding: 30px 30px 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px auto;
    background-color: #1881B6;
    border: 5px solid black;
    border-radius: 10px;
}

.content {
    flex: 1 0 50%;
}

.content .title {
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.content h1 {
    color: #fff;
    font-size: 28px;
}

.content .description {
    text-indent: 30px;
    padding-right: 10px;
    margin: 20px 0;
    line-height: 2;
}

.content .btn {
    display: flex;
    justify-content: space-between;
    padding: 0 135px 0 70px;
}

.content .btn .contact {
    color: white;
    background-color: #B6416D;

}

.img {
    align-self: center;
    width: 290px;
    height: 290px;
}

.img img {
    display: block;
    width: 100%;
    height: auto;
}