.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* header start */

header .header-top-bar {
    background-color: #D01919;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

header .header-top-bar ul {
    display: flex;
    gap: .7em;
}

header .header-top-bar a {
    color: #fff;
}

header .header-top-bar ul span {
    display: none;
}

/* header end */

/* section hero start */

main .hero-banner {
    width: 100%;
    background-image: url(../image/fitness-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

main .hero-banner nav {
    align-self: flex-end;
    padding-right: 4em;
    padding-top: 2em;
}

main .hero-banner .nav-list {
    display: flex;
    gap: 4.6em;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8em 0 9.5em 0;
}

.hero-banner h1 {
    font-size: 2.2em;
    letter-spacing: .5em;
}

.hero-content p {
    width: 33em;
    padding: 2em;
}

main .hero-banner .btn {
    background-color: #D01919;
    padding: .5em 1.2em;
    font-weight: bold;
    border-radius: 8px;
}

/* section hero end */

/* section welcome start */

.welcome,
.coaches {
    text-align: center;
    padding-bottom: 5em;
}

h3 {
    font-size: 2em;
    font-weight: 500;
    padding: 1em 0;
}

.welcome h4,
h5 {
    color: #D01919;
}


.red-line {
    display: block;
    margin: 0 auto;
    width: 2.5em;
    height: 2px;
    background-color: #D01919;
}

.welcome-wrapper {}

.section-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.section-content article {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome article {
    gap: 1.5em;
    max-width: 19em;
}

.welcome-wrapper .media img {
    width: 20%;
    margin: 0 auto;
}


.welcome .welcome-wrapper h3 article h4 p {}

/* section welcome end */


/* section coaches start */

.coaches {
    background-color: #EFEFEF;
}

.coaches article {
    max-width: 18em;
    gap: 0.4em;
}

.coaches article img {
    border-radius: .3em;
}

.coaches p {
    opacity: .5;
}

/* section coaches end */

/* footer start */

footer {
    text-align: center;
    padding: .5em 0;
    background-color: #D01919;
}

/* footer end */