/*! navigation  */
nav {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.11em 5em;
}

.nav-list {
    display: flex;
    gap: 2em;
}

.nav-list a {
    color: #fff;
}

/*! navigation  */